.vs/Kraken/v15/Browse.VC.opendb
.vs/Kraken/v15/ipch/AutoPCH/8c03e802f4e77873/MAIN.ipch
.vs/Kraken/v15/ipch/AutoPCH/1f64691b3468b49f/KKOUTPUTMANAG
.vs/Kraken/v15/ipch/AutoPCH/44a67fd2eadf7c1b/KKRUNNER.ipch

